body {
  height: 100%;
}

/* HOME Mobile*/
.justify-content-center {
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  cursor: pointer;

}

.header{
  background-color: #474747;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Montserrat Alternates', sans-serif;

}

.header p{
 font-size: 30px;
}

.justify-content-center a:hover {
  color: black;
}

.justify-content-center a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
}

.background1 {
  background-color: #274c77;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background1:hover {
  opacity: 0.7;
  background-image: url("./Images/business_mobile2.jpg");
  background-size: cover;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.background2 {
  background-color: #6096ba;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background2:hover {
  opacity: 0.7;
  background-image: url("./Images/LA-Projects_mobile.jpg");
  background-size: cover;
}

.background3 {
  background-color: #a3cef1;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.background3:hover {
  opacity: 0.7;
  background-image: url("./Images/WEB-Projects_mobile.png");
  background-size: cover;
}

.background4 {
  background-color: #d0e2f0;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background4:hover {
  opacity: 0.7;
  background-image: url("./Images/blog_mobile.jpg");
  background-size: cover;
}

.background5 {
  background-color: #e7ecef;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background5:hover {
  opacity: 0.7;
}



/* Desktop Version Home*/
@media only screen and (min-width: 992px) {
  .background1 {
    height: 600px;
    overflow: hidden;
    padding: 0;
    background-image: url("./Images/business_desktop.jpg");
    background-size: cover;
  }

  .background1 img {
    height: 600px;
  }

  .background1:hover {
    opacity: 0.7;
    background-image: url("./Images/business_desktop.jpg");
    background-size: cover;
  }

  .background2 {
    height: 600px;
    overflow: hidden;
    padding: 0;
  }

  .background2:hover {
    opacity: 0.7;
    background-image: url("./Images/LA-Projects_desktop.jpg");
    background-size: cover;
  }

  .background3 {
    height: 600px;
    overflow: hidden;
    padding: 0;
  }

  .background3:hover {
    opacity: 0.7;
    background-image: url("./Images/WEB-Projects_desktop.png");
    background-size: cover;
  }

  .background4 {
    height: 600px;
    overflow: hidden;
    padding: 0;
  }

  .background4:hover {
    opacity: 0.7;
    background-image: url("./Images/blog_desktop.jpg");
    background-size: cover;
  }

  .background5 {
    height: 600px;
    overflow: hidden;
    padding: 0;
   
  }
  header {
    margin-bottom: 0;
  }
}



/* ABOUT ME Mobile*/
.content {
  background-color: #d0e2f0;
}

.profile img {
  height: 500px;
  margin-top: 30px;
  padding-left: 30px;
}

.profile p{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 50px;
  margin-top: 50px;
  text-align: justify;
  background-color: #d0e2f0;
}

.profile h3{
  padding-left: 30px;
  margin-top: 30px;
}

.navbar-brand {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-start;
}

.navbar-nav {
align-items: flex-start;}


/* Desktop Version About Me*/
@media only screen and (min-width: 992px) {
  .navbar-nav {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
  
  }
  
  .navbar-collapse {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;

}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

 
  .profile img {
    height: 500px;
    margin-top: 0px;
    padding-left: 0px;
  }

  .profile {
    display: flex;
    justify-content: space-between;
    background-color: #d0e2f0;
  }

  .profile p{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 50px;
    text-align: justify;
  }

  .profile h3{
    padding-left: 30px;
    margin-top: 30px;
  }
}

.navbar>div>ul>li {
  font-family: 'Montserrat Alternates', sans-serif;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;

}

  




/* HOME */
header {
  width: 100%; 
}

main {
  display: flex;
  padding-top: 38px;
  
}


/* LA-PROJECTS Mobile*/
  .baselButton {
    background-color: #274c77;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .baselButton:hover {
    opacity: 0.7;
    background-image: url("./Images/Basel_desktop.jpg");
    background-size: cover;
  }
  
  .HamburgButton {
    background-color: #6096ba;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .HamburgButton:hover {
    opacity: 0.7;
    background-image: url("./Images/Basel_desktop.jpg");
    background-size: cover;
  }
 
  



/* LA-PROJECTS Desktop*/
@media only screen and (min-width: 992px) {
    .baselButton {
      height: 100px;
      overflow: hidden;
      padding: 0;
      background-color: #274c77;
      margin-top: 100px;
      margin-bottom: 100px;
    }

    .baselButton:hover {
      opacity: 0.7;
      background-image: none;
      cursor: default;
    }
    
    .HamburgButton {
      height: 100px;
      overflow: hidden;
      padding: 0;
      background-color: #6096ba;
      margin-top: 100px;
      margin-bottom: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .HamburgButton:hover {
      opacity: 0.7;
      background-image: none;
      cursor: default;
    }

    .background-image {
     background-image: url("./Images/Basel_desktop.jpg");
     background-color: #595959;
     margin-top: 45px;
     background-size: cover;

   }
  }  










/* WEB-PROJECTS */
.btn {
  display: flex;
  justify-content: center;
  flex-direction: column;  

}
.btnBasel {
  background-color: #6096ba;
  border: none;
  color: white;
  padding: 30px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 10px 5px;
  cursor: pointer;
  margin-top: 100px;
}

.btnHamburg {
  background-color: #274c77;
  border: none;
  color: white;
  padding: 30px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 10px 5px;
  cursor: pointer;
  margin-bottom: 100px;

}


/* WEB-PROJECTS Desktop */
@media only screen and (min-width: 992px) {
  .btn {
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}


/* FOOTER*/
.icontxt {
  color:#474747;
}