body {
  height: 100%;
}

.justify-content-center {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.justify-content-center h3:hover {
  color: black;
}


.background1 {
  background-color: grey;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./Images/business_mobile2.jpg");
  background-size: cover;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background2 {
  background-color: green;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background2:hover {
  opacity: 0.7;
}

.background3 {
  background-color: blue;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background4 {
  background-color: pink;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background5 {
  background-color: grey;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 992px) {
  .background1 {
    height: 600px;
    overflow: hidden;
    padding: 0;
    background-image: url("./Images/business_desktop.jpg");
    background-size: cover;
  }

  .background1 img {
    height: 600px;
  }

  .background2 {
    height: 600px;
  }

  .background3 {
    height: 600px;
  }

  .background4 {
    height: 600px;
  }

  .background5 {
    height: 600px;
  }

  header {
    margin-bottom: 0;
  }
}
