body {
	height: 100%;
}



.background1 {
	background-color: grey;
	height: 200px;
	display: flex;
    justify-content: center;
    align-items: center;
    
}

.background2 {
	background-color: green;
	height: 200px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.background3 {
	background-color: blue;
	height: 200px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.background4 {
	background-color: pink;
	height: 200px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.background5 {
	background-color: grey;
	height: 200px;
	display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (min-width: 992px) {
	.background1 {
	 height: 600px;
	}

@media only screen and (min-width: 992px) {
	.background2 {
	 height: 600px;
	}

@media only screen and (min-width: 992px) {
	.background3 {
	 height: 600px;
	}

@media only screen and (min-width: 992px) {
	.background4 {
	 height: 600px;
	}

@media only screen and (min-width: 992px) {
	.background5 {
	 height: 600px;
	}

header {
	margin-bottom: 0;
}